parameters:
    mapping:
        category:
            table: category
            identifier: sku
            oneToOne:
                parent:
                    targetEntity: category
                    joinColumn:
                        name: parent_id
                        referencedColumnName: id
            oneToMany:
                fr:
                    targetEntity: category_lang
                    joinColumn:
                        name: category_id
                        referencedColumnName: id
                    removeReferenced: true
                    references:
                        lang_id:
                            table: lang
                            referencedColumnName: id
                            where:
                                iso_code: fr
            fields:
                id:
                    column: id
                    type: int
                sku:
                    column: sku
                    nullable: false
                level:
                    column: level
                    type: int
                position:
                    column: position
                    type: int
                max_item_per_order:
                    column: max_item_per_order
                    type: int
                status:
                    column: status
                    type: int
                created_at:
                    column: created_at
                    type: datetime
                updated_at:
                    column: updated_at
                    type: datetime
        category_lang:
            table: category_lang
            fields:
                label:
                    column: label
                title_page:
                    column: title_page
                description_page:
                    column: description_page
                description_short:
                    column: description_short
                description_long:
                    column: description_long
        product:
            table: product
            identifier: sku
            manyToMany:
                categories:
                    targetEntity: category
                    joinTable:
                        name: product_category
                        joinColumn:
                            name: product_id
                            referencedColumnName: id
                        inverseJoinColumn:
                            name: category_id
                            referencedColumnName: id
            manyToOne:
                brand:
                    targetEntity: brand
                    joinColumn:
                        name: laboratory_id
                        referencedColumnName: id
            oneToMany:
                fr:
                    targetEntity: product_lang
                    joinColumn:
                        name: product_id
                        referencedColumnName: id
                    removeReferenced: true
                    references:
                        lang_id:
                            table: lang
                            referencedColumnName: id
                            where:
                                iso_code: fr
            fields:
                sku:
                    column: sku
                    nullable: false
                reference_cip_acl_7:
                    column: reference
                reference_cip_acl_13:
                    column: acl_code
                reference_ean:
                    column: ean_code
                sellable:
                    column: published
                exportable:
                    column: xml_merchant
                status:
                    column: enabled
                    type: int
        product_lang:
            table: product_lang
            fields:
                label:
                    column: name
                description_short:
                    column: description_short
                description_long:
                    column: description_long
        brand:
            table: laboratory
            identifier: sku
            oneToMany:
                fr:
                    targetEntity: brand_lang
                    joinColumn:
                        name: laboratory_id
                        referencedColumnName: id
                    removeReferenced: true
                    references:
                        lang_id:
                            table: lang
                            referencedColumnName: id
                            where:
                                iso_code: fr
            fields:
                sku:
                    column: sku
                    nullable: false
                label:
                    column: name
                    length: 64
                status:
                    column: enabled
        brand_lang:
            table: laboratory_lang
            fields:
                description_short:
                    column: description
                description_long:
                    column: meta_desc
                title_page:
                    column: meta_title
                description_page:
                    column: p_desc
        campaign:
            table: campaign
            identifier: sku
            fields:
                sku:
                    column: sku
                    type: string
                    nullable: false
                label:
                    column: label
                    type: string
                    nullable: false
                slug:
                    column: slug
                    type: string
                    nullable: false
                created_at:
                    column: created_at
                    type: datetime
                    nullable: false
            oneToMany:
                banners:
                    targetEntity: banner
                    joinColumn:
                        name: campaign_id
                        referencedColumnName: id
        banner:
            table: banner
            identifier: sku
            fields:
                sku:
                    column: sku
                    type: string
                    nullable: false
                start_date:
                    column: start_date
                    type: datetime
                end_date:
                    column: end_date
                    type: datetime
                status:
                    column: status
                    type: int
                created_at:
                    column: created_at
                    type: datetime
            oneToMany:
                fr:
                    targetEntity: banner_lang
                    joinColumn:
                        name: banner_id
                        referencedColumnName: id
                    removeReferenced: true
                    references:
                        lang_id:
                            table: lang
                            referencedColumnName: id
                            where:
                                iso_code: fr
        banner_lang:
            table: banner_lang
            fields:
                label:
                    column: label
                    type: string
                    nullable: false
                url:
                    column: url
                    type: string
                    nullable: false
            manyToMany:
                media:
                    targetEntity: picture
                    joinTable:
                        name: banner_lang_picture
                        joinColumn:
                            name: banner_lang_id
                            referencedColumnName: id
                        inverseJoinColumn:
                            name: picture_id
                            referencedColumnName: id
        galenical:
            table: galenical
            identifier: sku
            fields:
                sku:
                    column: sku
                    type: string
                    nullable: false
                label:
                    column: label
                    type: string
                    nullable: false
                created_at:
                    column: created_at
                    type: datetime
                    nullable: false
                status:
                    column: status
                    type: int
        link:
            table: link
            identifier: sku
            fields:
                sku:
                    column: sku
                    type: string
                    nullable: false
                target:
                    column: target
                    type: string
                created_at:
                    column: created_at
                    type: datetime
            oneToMany:
                fr:
                    targetEntity: link_lang
                    joinColumn:
                        name: link_id
                        referencedColumnName: id
                    removeReferenced: true
                    references:
                        lang_id:
                            table: lang
                            referencedColumnName: id
                            where:
                                iso_code: fr
        link_lang:
            table: link_lang
            fields:
                label:
                    column: label
                    type: string
                    nullable: false
                title:
                    column: title
                    type: string
                    nullable: false
                url:
                    column: url
                    type: string
                    nullable: false

        selection:
            table: selection
            identifier: sku
            fields:
                sku:
                    column: sku
                    nullable: false
                status:
                    column: status
                    type: int
                startDate:
                    column: start_date
                    type: datetime
                endDate:
                    column: end_date
                    type: datetime
            oneToMany:
                fr:
                    targetEntity: selection_lang
                    joinColumn:
                        name: selection_id
                        referencedColumnName: id
                    removeReferenced: true
                    references:
                        lang_id:
                            table: lang
                            referencedColumnName: id
                            where:
                                iso_code: fr
            manyToMany:
                products:
                    targetEntity: product
                    joinTable:
                        name: selection_product
                        joinColumn:
                            name: selection_id
                            referencedColumnName: id
                        inverseJoinColumn:
                            name: product_id
                            referencedColumnName: id
        selection_lang:
            table: selection_lang
            identifier: sku
            fields:
                description:
                    column: description
                name:
                    column: name
                short_name:
                    column: short_name
                    nullable: false
            manyToMany:
                medias:
                    targetEntity: picture
                    joinTable:
                        name: selection_lang_picture
                        joinColumn:
                            name: selection_lang_id
                            referencedColumnName: id
                        inverseJoinColumn:
                            name: picture_id
                            referencedColumnName: id

        picture:
            table: picture
            identifier: sku
            fields:
                sku:
                    column: sku
                    type: string
                    nullable: false
                alt:
                    column: alt
                title:
                    column: title
                filename:
                    column: filename
                extension:
                    column: extension

        menu:
            table: menu
            identifier: sku
            fields:
                sku:
                    column: sku
                    type: string
                    nullable: false
            oneToMany:
                fr:
                    targetEntity: menu_lang
                    joinColumn:
                        name: menu_id
                        referencedColumnName: id
                    removeReferenced: true
                    references:
                        lang_id:
                            table: lang
                            referencedColumnName: id
                            where:
                                iso_code: fr
                elements:
                    targetEntity: menu_element
                    joinColumn:
                        name: menu_id
                        referencedColumnName: id

        menu_lang:
            table: menu_lang
            fields:
                label:
                    column: label
                    nullable: false

        menu_element:
            table: menu_element
            fields:
                weight:
                    column: weight
                    nullable: false
                sku:
                    column: element_sku
                    nullable: false
                type:
                    column: element_type
                    nullable: false
            oneToMany:
                children:
                    targetEntity: menu_element
                    joinColumn:
                        name: parent_id
                        referencedColumnName: id