parameters:

    database_driver:        pdo_mysql
    database_host:          127.0.0.1
    database_port:          ~
    database_name:          symfony
    database_user:          root
    database_password:      ~

    rabbitmq_host:          localhost
    rabbitmq_port:          5672
    rabbitmq_user:          guest
    rabbitmq_password:      guest
    rabbitmq_vhost:         /
    rabbitmq_lazy:          false
    rabbitmq_exchange:      meup_entity_edition
    rabbitmq_queue:         snotra_entity_edition

    elasticsearch_host:     localhost
    elasticsearch_port:     9200
    elasticsearch_indexes:
        - fr
        - en
    elasticsearch_fr_index:
        number_of_shards: 5
        number_of_replicas: 1
        analysis:
            analyzer:
                default_analyzer :
                    type     :    custom
                    tokenizer:    nGram
                    filter   :    [ asciifolding ,lowercase, elision, worddelimiter]
                default_search_analyzer :
                    type     :    custom
                    tokenizer:    standard
                    filter   :    [ asciifolding ,lowercase, elision, worddelimiter]
                fr_analyzer :
                    type     :    custom
                    tokenizer:    nGram
                    filter   :    [stopwords_fr, asciifolding ,lowercase, snowball_fr, elision, worddelimiter]
                fr_search_analyzer :
                    type     :    custom
                    tokenizer:    standard
                    filter   :    [stopwords_fr, asciifolding ,lowercase, snowball_fr, elision, worddelimiter]
            tokenizer:
                nGram:
                    type:     nGram
                    min_gram: 2
                    max_gram: 30
            filter:
                snowball:
                    type:     snowball
                    language: French
                elision:
                    type:     elision
                    articles: [l, m, t, qu, n, s, j, d]
                stopwords:
                    type:      stop
                    stopwords: [_french_]
                    ignore_case : true
                worddelimiter :
                    type:      word_delimiter
    elasticsearch_en_index:
        number_of_shards: 5
        number_of_replicas: 1
        analysis:
            analyzer:
                default_analyzer :
                    type     :    custom
                    tokenizer:    nGram
                    filter   :    [ asciifolding ,lowercase, elision, worddelimiter]
                default_search_analyzer :
                    type     :    custom
                    tokenizer:    standard
                    filter   :    [ asciifolding ,lowercase, elision, worddelimiter]
                en_analyzer :
                    type     :    custom
                    tokenizer:    nGram
                    filter   :    [stopwords_en, asciifolding ,lowercase, snowball_en, elision, worddelimiter]
                en_search_analyzer :
                    type     :    custom
                    tokenizer:    standard
                    filter   :    [stopwords_en, asciifolding ,lowercase, snowball_en, elision, worddelimiter]
                tokenizer:
                  nGram:
                    type:     nGram
                    min_gram: 2
                    max_gram: 30
            filter:
                snowball_en:
                    type:     snowball
                    language: English
                elision:
                    type:     elision
                    articles: [l, m, t, qu, n, s, j, d]
                stopwords_en:
                    type:      stop
                    stopwords: [_english_]
                    ignore_case : true
                worddelimiter :
                    type:      word_delimiter

    mailer_transport:       smtp
    mailer_host:            127.0.0.1
    mailer_user:            ~
    mailer_password:        ~

    locale:                 en
    secret:                 ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
    ignored_message_types:  ['locale']
