parameters:
    locale:                 en
    secret:                 ThisTokenIsNotSoSecretChangeIt

    # RabbitMQ amqp config
    rabbitmq_host:          localhost
    rabbitmq_port:          5672
    rabbitmq_user:          admin
    rabbitmq_password:      admin
    rabbitmq_vhost:         /
    rabbitmq_lazy:          false
    rabbitmq_exchange:      my_exchange_name
    rabbitmq_exchange_type: direct
    rabbitmq_queue:         my_queue_name
    rabbitmq_ignored_types: ['locale']

    # Database storage config
    database_driver:        pdo_mysql
    database_host:          127.0.0.1
    database_port:          ~
    database_name:          ~
    database_user:          root
    database_password:      ~
